.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  height: 10vh;
}

.App-header {
  background-color: white;
  margin: 10vh;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
