html {
  width: 100vw;
  height: 100vh;
}

#root {
  margin: 0;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  margin: inherit;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin: inherit;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.no-items-view p span {
  font-weight: 600;
  color: #F40B35;
}