html {
  width: 100vw;
  height: 100vh;
}

#root {
  margin: 0;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 38px;
}